.User {
    margin: 16px;
}

.User .Avatar {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-size: contain !important;
    background-position: center center !important;
}

.btn.btn-warning{
    margin: 0px 5px;
}